*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 512px;
    margin: 0 auto;
    border: 2px dashed black;
}
h1{
    text-align: center;
}
.card{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    border: 3px solid black;
    padding: 20px;
    min-height: 150px;
}
h2{
    text-align: justify;
}
.testo-card{
    text-align: left;
}
.credits{
    margin: 10px;
}
hr{
    border: none;
    height: 3px;
    color: black;
    background-color: black;
}
